<header flex="100" layout="row" layout-align="start end">
  <div id="title" layout="column" layout-align="center start" flex="30">
    <h1>Zozor</h1>
    <h3>Travel diaries</h3>
  </div>
  <div layout="column" layout-align="center end" flex="60">
    <zozor-logo></zozor-logo>
    <nav layout="row" layout-align="space-between center">
      <a href="/home/">home</a>
      <a href="/blog/">blog</a>
      <a href="/resume/">resume</a>
      <a href="/contact/">contact</a>
    </nav>
  </div>
</header>
